@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/montserrat/montserratbold.woff2') format('woff2'), url('/fonts/montserrat/montserratbold.woff') format('woff'), url('/fonts/montserrat/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;

}

.clearfix {
    display: flow-root;

}


div {
    box-sizing: border-box;
}

header {
    background: url("../img/home.png") no-repeat center top/cover;
    padding-bottom: 250px;


}

.container {
    width: 930px;
    margin: 0 auto;


}


#logo {
    font-size: 20px;
    color: white;
    justify-content: space-between;
    align-items: center;
    }

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

i,h3 {
    color: white;
}
.center {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}


#header_menu  {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 5px 5px 5px;

    align-items: center;


}

#header_menu ul {

}

#header_menu ul {
    justify-content: space-between;
}

#header_menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 14px;
    padding: 0 15px 0 15px;
}



 hr {
     border: none; /* Убираем границу для браузера Firefox */
     color: black; /* Цвет линии для остальных браузеров */
     background-color: black; /* Цвет линии для браузера Firefox и Opera */
     height: 2px; /* Толщина линии */
     width: 40px;
 }

 .titles_first {
     font-size: 55px;
     color: #ffffff;
     text-transform: uppercase;
     text-align: center;
     margin-top: 300px;
 }

 h3 {
     font-size: 24px;
     color: #ffffff;
     margin: 15px;
     text-align: center;
      }

 .button {
     border-radius: 3px;
     color: white;
     display: block;
     width: 180px;
     padding: 20px 0;
     margin: 10px auto;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     border: 1px solid white;

 }

.title {
    margin-top: 80px;

}
.title h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

}
.title  p {
    color: #808080;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;

}

.services {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.services__item {
    width: 300px;
    text-align: center;
    margin: 0 5px 0 5px;
}

.services__item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.services__item p {
    font-size: 14px;
    color: black;
    line-height: 1.5em;
}


.text {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;


}

.text p {

    width: 300px;
    margin: 10px 15px 10px 15px;
}

.flex {
    display: flex;
}
.flex .services__item_img img {
    width: 100%;
    min-height: 300px;
}


.services__item_img {
    padding: 0 5px;
    min-height: 100%;
}

.line {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    text-align: center;


}

.line li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    }
.red:hover {
    color: red; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: none;}

.color {
    background: #f8f8f8;
}

#flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 600px;
    margin: 0;

}

 .services__item_flex {
    flex-wrap: wrap;
    flex-direction: row;

    width: 200px;

}

 .bgr img {
    margin-top: 20px;
     width: 100%;

 }

 .content_news {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 20px;
 }

.content_news img {
    width: 100%;
}
.content_news h4,h5,h6 {
    text-transform: uppercase;

}

.content_news .red {
    text-transform: uppercase;
    color: red;
}
.img_news {
    width: 28%;


}

.news {
    width: 70%;

}


input, textarea  {
    width: 340px;
    height: 40px;
    margin:  20px 20px 20px 60px;
    align-items: center;
}

textarea  {
    width: 770px;
    height: 120px;
    align-items: center;
}

button {
    margin-left: 60px;
    margin-right: 25px;
    width: 160px;
    height: 40px;
    background: white;
}
footer {
    background: #c0301c;
    height: 200px;
}
footer h6 {
    text-transform: uppercase;
    color: white;

}

.footer {

    margin-top: 20px;
    text-align: center;
    padding-top: 50px;



}

hr {
    background: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer hr {
    background: white;
    border: none;
    margin-top: 20px;
}

@media (max-width: 1025px) {
    #header_menu, .title {
        flex-direction: column;
        padding: 15px 15px 0 15px;
        justify-content: center;
        margin-top: 20px;
    }

}

@media (max-width: 1000px) {

    #header_menu ul {
        margin-top: 15px;
        justify-content: center;
        margin-left: auto;
    }

    .title {

        padding-bottom: 0;
        margin-top: 20px;
    }

    #flex {

        display: flex;
        flex-direction: row;
        margin-left: 60px;
    }

    #flex .services__item_flex img {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        max-width: 400px;
        max-height: 400px;
    }

    .flex {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 950px) {

    #header_menu ul {
        margin-top: 15px;
        justify-content: center;
        margin-left: auto;
    }

    .title {

        padding-bottom: 0;
        margin-top: 20px;
    }

    .services, .services__item {
        flex-direction: column;
        align-items: center;
    }

    .flex {
        margin-left: 30px;
        margin-right: 40px;
    }

    #flex {

        display: flex;
        flex-direction: row;
    }

    #flex .services__item_flex img {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        max-width: 360px;
        max-height: 360px;
    }

    .content_news {
        margin-right: 30px;
        margin-left: 70px;
        width: 800px;
    }
}

@media (max-width: 900px) {



    #header_menu ul li a {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }

    .title {

        padding-bottom: 0;
        margin-top: 20px;
    }

    .titles_first, h3 {
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        font-size: smaller;
        margin: auto;
    }


    .services, .services__item  {
        flex-direction: column;
        align-items: center;

    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }


     .flex {

         display: flex;
         flex-direction: column;

     }

    .flex .services__item_img {

        display: flex;
        justify-content: center;


    }

   .flex .services__item_img img {

       width: auto;
       margin-bottom: 10px;
       min-width: 300px;
    }

    #flex {

        display: flex;
        flex-direction: row;
    }

    #flex .services__item_flex img {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        max-width: 200px;
        max-height: 200px;
    }


    .content_news {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 800px;
        margin-left: 70px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .form input, textarea {

        width: 200px;
    }

    .form textarea {

        width: 500px;
    }
     button {
        margin-bottom: 15px;

        width: 100px;
    }
     span {
         display: block;

     }

}

    @media (max-width: 830px) {
        #header_menu ul li a, #header_menu ul li {
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-right: 70px;
        }

        .title {

            padding-bottom: 0;
            margin-top: 20px;
        }


        #flex  {

            display: flex;
            flex-direction: row;
        }

    #flex .services__item_flex img {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        max-width: 200px;
        max-height: 200px;
    }

    .bgr img {
        display: none;
    }

    .news {
       width: 600px;
        margin-left: 25px;
        margin-right: 25px;
    }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

        }
        .form input, textarea {

            width: 200px;
        }

        .form textarea {

            width: 500px;
        }
        button {
            margin-bottom: 15px;

            width: 100px;
        }
        span {
            display: block;

        }
        }

@media (max-width: 800px) {

    #logo {
        display: none;
    }

    .title h2, .services__item h4 {
        font-size: smaller;
    }

    .title p {
        font-size: 14px;
    }

    #flex  {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
      }
    #flex img {
        width: 100%;
        padding-bottom: 5px;
    }



    .bgr img {
        display: none;
    }


    .news {
        width: 500px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .news p {
        width: 400px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .form {
        margin-left: 100px;

    }


    .form input, textarea, button, span {

        display: block;
        text-align: center;

    }

    .form textarea {

        width: 300px;
    }

    footer .footer {
       font-size: smaller;
    }


}

@media (max-width: 710px) {

    .title h2,  .services__item h4 {
        font-size: small;
    }

    .title p {
        font-size: 12px;
    }


    .news {
                font-size: small;
    }
    .form {
        display: flex;
        align-items: center;
        margin-right: 160px;

    }

    .form span {
        margin-left: 60px;
    }

    .form input, textarea, button, span {
        width: 100px;
        display: block;
        font-size: small;
        margin-right: auto;
    }

    .form textarea {

        width: 100px;
    }
}


@media (max-width: 530px) {
    #header_menu ul li a, #header_menu ul li {
        width: 100%;
        text-align: center;
    }

    #header_menu ul li a {

        display: block;
    }

    #footer-top {
        justify-content: center;
    }

}